cheetah-accelerator==0.7.1
gymnasium==0.29.1   # Fixed for now to prevent subprocess crashing
jupyter==1.1.1
matplotlib==3.10.1
opencv-python==4.11.0.86
python-dotenv==1.1.0
rl_zoo3==2.3.0
SciencePlots==2.1.1
scipy>=1.12
seaborn==0.13.2
stable-baselines3==2.5.0
tensorboard==2.19.0
trimesh==4.6.4
tqdm==4.67.1
wandb==0.19.8
websockets==15.0
